body {
    margin: 0;

    font-size: 14px;
    color: black;
    font-family: 'Open Sans', arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

    /* CONTAINER */

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container.section {
    padding: 90px 0 0;
}

    /* HEADER */

.header {
    width: 100%;
    height: 56px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 15px;
}

.header__logo {
    display: flex;
    align-items: center;

    cursor: pointer;

    color: #fff;
}

.header__icon {
    padding-right: 10px;

    font-size: 30px;
}

.header__title {
    font-size: 28px;
}

.header__span {
    font-weight: 700;
}

    /* NAV */

.nav {
    display: flex;

    font-weight: 500;
}

.nav__link {
    margin-left: 30px;

    color: #fff;
    opacity: 0.7;
    text-decoration: none;

    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

    /* INTRO */

.intro {
    padding-top: 120px;

    background: url(../img/intro/hero-1.jpg) center no-repeat;
    background-size: cover;
    height: 560px;
}

.intro__inner {
    display: flex;

    position: relative;
}

.intro__item {
    width: 100%;
    max-width: 500px;
}

.intro__title {
    font-size: 30px;
    color: #fff;
    font-weight: 700;

    margin-bottom: 15px;

}

.intro__suptitle {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    opacity: 0.9;
    line-height: 1.5;

    margin-bottom: 30px;
}

.intro__btn {
    font-size: 16px;
    color: #fff;
    font-weight: 700;

    text-decoration: none;
    

    padding: 10px 30px;

    background-color: #40babd;
    border: 1px solid #40babd;
    border-radius: 3px;

    cursor: pointer;

    transition: background-color .2s solid;
}

.intro__btn:hover {
    background-color: #3caeb0
}

.intro__img {
    position: absolute;
    top: -2px;
    right: 0;
    z-index: 1;
}

    /* ABOUT */

.about__inner {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.about__title {
    margin-bottom: 15px;

    font-size: 36px;
    color: #494d55;
    font-weight: 300;

}

.about__text {
    max-width: 760px;
    margin: 0 auto 60px;

    font-size: 16px;
    color: #a2a6af;
    font-weight: 300;
}

.about__icon {
    display: flex;
    justify-content: center;

    margin-bottom: 90px;
}

.about__img {
    margin-left: 20px;
}

    /* APPKIT */

.appkit__inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.appkit__item {
    width: 33.33333%;

    text-align: center;
}

.appkit__img {
    min-height: 170px;
    margin-bottom: 15px;
}

.appkit__title {
    margin-bottom: 15px;

    font-size: 18px;
    color: #40babd;
    font-weight: 700;
}

.appkit__text {
    max-width: 300px;
    margin: 0 auto;

    font-size: 14px;
    color: #616670;
    font-weight: 400;
}

    /* REVIEW */

.review {
    background: #40babd url(../img/review/map.png) center no-repeat;
    background-size: cover;
}

.review__title {
    margin-bottom: 60px;

    font-size: 36px;
    color: #fff;
    font-weight: 300;

    text-align: center;
}
    
.review__inner {
    max-width: 800px;
    margin: 0 auto 60px;

    position: relative;
}

.review__inner:last-child {
    padding-bottom: 120px;
    margin-bottom: 0;
}

.review__item {
    margin-left: 100px;
    padding: 30px;
    min-height: 80px;

    border-radius: 4px;

    background: rgba(0, 0, 0, 0.2);
    
}

.review__item.profile {
    margin-left: 0;
    margin-right: 100px;
}

.review__item::before {
    content: "";
    display: block;
    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 30px;
    left: 90px;
}

.review__item.profile::before {
    left: auto;
    right: 90px;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0, 0, 0, 0.2);
    border-right: 0;
}

.review__img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.review__img.profile {
    left:auto;
    right: 0;
}

.review__text {
    margin-bottom: 15px;

    font-size: 14px;
    color: #fff;
    font-weight: 300;

    line-height: 1.5;
}

.review__personal {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);

    font-weight: 300;
}

    /* FEATURES */

.features__inner {
    display: flex;
    align-items: center;
}

.features__item {
    display: flex;
    flex-direction: column;
}

.features__icon {
    margin-bottom: 40px;
    margin-left: 100px;

    font-size: 16px;
    color: #616670;

    text-decoration: none;

    transition: color .2s linear;
}

.features__icon:last-child {
    margin-bottom: 0;
}

.features__text {
    padding-left: 5px;

    font-size: 16px;
    font-weight: 300;
}

.features__icon:hover {
    color: #40babd;
}