body {
    margin: 0;

    font-size: 14px;
    color: black;
    font-family: 'Open Sans', arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container.section {
    padding: 90px 0 0;
}

.container.section--grey {
    padding: 90px 0 0;

    background: #f5f5f5;
}

/* HEADER */

.header {
    width: 100%;
    height: 56px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;

    position: fixed;

    background-color: #494d55;
}

.header.fixed .header__inner {
    padding: 0 15px 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 15px;
    padding: 0 15px;
}

.header__logo {
    display: flex;
    align-items: center;

    cursor: pointer;

    color: #fff;
}

.header__icon {
    padding-right: 10px;

    font-size: 30px;
}

.header__title {
    font-size: 28px;
}

.header__span {
    font-weight: 700;
}

/* NAV */

.nav {
    display: flex;

    font-weight: 500;
}

.nav__link {
    margin-left: 30px;

    color: #fff;
    opacity: 0.7;
    text-decoration: none;

    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

/* BURGER */

.burger {
    display: none;
    padding: 9px 1px;

    cursor: pointer;
    background: none;
    border: 0;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;

    position: absolute;
    top: -8px;
    left: 0;
    z-index: 1;
}

.burger__item::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;

    position: absolute;
    top: 8px;
    left: 0;
    z-index: 1;
}

/* INTRO */

.intro {
    padding: 120px 15px 0;

    background: url(../img/intro/hero-1.jpg) center no-repeat;
    background-size: cover;
    height: 560px;
}
.intro.two {
    background: url(../img/intro/hero-2.jpg) center no-repeat;
}

.intro.three {
    background: url(../img/intro/hero-3.jpg) center no-repeat;
}

.intro__inner {
    display: flex;

    position: relative;
}

.intro__item {
    width: 100%;
    max-width: 500px;
}

.intro__title {
    font-size: 30px;
    color: #fff;
    font-weight: 700;

    margin-bottom: 15px;

}

.intro__suptitle {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    opacity: 0.9;
    line-height: 1.5;

    margin-bottom: 30px;
}

.intro__btn {
    font-size: 16px;
    color: #fff;
    font-weight: 700;

    text-decoration: none;


    padding: 10px 30px;

    background-color: #40babd;
    border: 1px solid #40babd;
    border-radius: 3px;

    cursor: pointer;

    transition: background-color .2s solid;
}

.intro__btn:hover {
    background-color: #3caeb0
}

.intro__img {
    position: absolute;
    top: -2px;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/* SLICK */

.slick-track {
    height: 560px;

}

.slick-dots {
    display: flex;
    

    margin: 0 0 10px;

    list-style: none;

    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
}

.slick-dots li {
    margin: 0 5px 0 0;
}

.slick-dots li:last-child {
    margin: 0;
}

.slick-dots button {
    width: 15px;
    height: 15px;
    padding: 0;

    background-color: #fff;
    border-radius: 50%;
    border: 0;

    cursor: pointer;

    font-size: 0;
    color: transparent;
    opacity: 0.5;
}

.slick-dots .slick-active button {
    background-color: #40babd;
    opacity: 1;
}

/* ABOUT */

.about__inner {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.about__title {
    margin-bottom: 15px;

    font-size: 36px;
    color: #494d55;
    font-weight: 300;

}

.about__text {
    max-width: 760px;
    margin: 0 auto 60px;
    padding: 0 15px;

    font-size: 16px;
    color: #a2a6af;
    font-weight: 300;
}

.about__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 90px;
}

.about__img {
    margin-right: 20px;
}

.about__img:last-child {
    margin-right: 0;
}

.about__suptext {
    max-width: 800px;
    margin: 0 auto 60px;
    padding: 0 15px;

    font-size: 14px;
    color: #494d55;
    line-height: 1.5;
}

/* APPKIT */

.appkit__inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.appkit__item {
    width: 33.33333%;
    padding: 0 15px;

    text-align: center;
}

.appkit__img {
    min-height: 170px;
    margin-bottom: 15px;
}

.appkit__title {
    margin-bottom: 15px;

    font-size: 18px;
    color: #40babd;
    font-weight: 700;
}

.appkit__text {
    max-width: 300px;
    margin: 0 auto;

    font-size: 14px;
    color: #616670;
    font-weight: 400;
}

/* REVIEW */

.review {
    background: #40babd url(../img/review/map.png) center no-repeat;
    background-size: cover;
}

.review__title {
    margin-bottom: 60px;

    font-size: 36px;
    color: #fff;
    font-weight: 300;

    text-align: center;
}

.review__inner {
    max-width: 800px;
    margin: 0 auto 60px;
    padding: 0 15px;

    position: relative;
}

.review__inner:last-child {
    padding-bottom: 120px;
    margin-bottom: 0;
}

.review__item {
    margin-left: 100px;
    padding: 30px;
    min-height: 80px;

    border-radius: 4px;

    background: rgba(0, 0, 0, 0.2);

}

.review__item.profile {
    margin-left: 0;
    margin-right: 100px;
}

.review__item::before {
    content: "";
    display: block;
    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 30px;
    left: 105px;
}

.review__item.profile::before {
    left: auto;
    right: 105px;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0, 0, 0, 0.2);
    border-right: 0;
}

.review__img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 1;
}

.review__img.profile {
    left: auto;
    right: 15px;
}

.review__text {
    margin-bottom: 15px;

    font-size: 14px;
    color: #fff;
    font-weight: 300;

    line-height: 1.5;
}

.review__personal {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);

    font-weight: 300;
}

/* FEATURES */

.features__inner {
    display: flex;
    align-items: center;

    margin-bottom: 90px;
}

.features__item {
    display: flex;
    flex-direction: column;
}

.features__img {
    max-width: 100%;
    height: auto;
}

.features__icon {
    margin-bottom: 40px;
    margin-left: 100px;

    font-size: 16px;
    color: #616670;

    text-decoration: none;

    transition: color .2s linear;
}

.features__icon:last-child {
    margin-bottom: 0;
}

.features__text {
    padding-left: 5px;

    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}

.features__icon:hover {
    color: #40babd;
}

/* TEAM */

.team {
    background: #f5f5f5;
}

.team__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 90px;
}

.team__item {
    padding: 30px;
    margin-right: 20px;
    width: 33%;

    text-align: center;

    background: #fff;
    border-radius: 10px;
}

.team__item:last-child {
    margin-left: 20px;
    margin-right: 0;
}

.team__img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.team__title {
    margin-bottom: 10px;

    font-size: 18px;
    color: #40babd;
    font-weight: 700;
}

.team__suptitle {
    margin-bottom: 15px;

    font-size: 16px;
    color: #616670;
    font-weight: 400;
}

.team__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;

    color: #fff;
}

.team__icon.twitter {
    width: 32px;
    height: 32px;
    margin-right: 10px;

    background: #55acee;
    border-radius: 50%;

    transition: background 0.2s linear;
}

.team__icon.twitter:hover {
    background: #4d9ddb;
}

.team__icon.facebook {
    width: 32px;
    height: 32px;
    margin-right: 10px;

    background: #3b5998;
    border-radius: 50%;

    transition: background 0.2s linear;
}

.team__icon.facebook:hover {
    background: #334d84;
}

.team__icon.github {
    width: 32px;
    height: 32px;
    margin-right: 10px;

    background: #444;
    border-radius: 50%;

    transition: background 0.2s linear;
}

.team__icon.github:hover {
    background: rgb(46, 46, 46);
}

.team__icon.dribbble {
    width: 32px;
    height: 32px;
    margin-right: 10px;

    background: #EC4D8B;
    border-radius: 50%;

    transition: background 0.2s linear;
}

.team__icon.dribbble:hover {
    background: #d0447a;
}

.team__icon.linkedin {
    width: 32px;
    height: 32px;
    margin-right: 10px;

    background: #1E6FBA;
    border-radius: 50%;

    transition: background 0.2s linear;
}

.team__icon.linkedin:hover {
    background: #1a64a9;
}

.team__link {
    text-decoration: none;
}

.team__text {
    margin-bottom: 15px;

    font-size: 14px;
    color: #616670;
    line-height: 1.5;
    font-weight: 300;
}

.team__tf {
    text-decoration: none;

    color: #3aa7aa;
}

/* PRICING */

.pricing__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-bottom: 90px;
}

.pricing__item {
    width: 25%;
    padding: 30px;
    margin-right: 30px;

    text-align: center;

    background: #75c181;
    border-radius: 10px;
}

.pricing__item.blue {
    background: #58bbee;
}

.pricing__item.orange {
    background: #F8A13F;
}

.pricing__item:last-child {
    margin: 0;
}

.pricing__title {
    margin-bottom: 40px;

    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

.pricing__ds {
    margin-bottom: 15px;
}

.pricing__dollar {
    margin-right: -5px;

    font-size: 26px;
    color: #fff;
    font-weight: 300;

    vertical-align: top;

    opacity: 0.6;
}

.pricing__span {
    font-size: 46px;
    color: #fff;

}

.pricing__text {
    margin-bottom: 15px;

    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

.pricing__link {
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;

    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;

    text-decoration: none;
}

.pricing__link:hover {
    text-decoration: underline;
}

.pricing__button {
    padding: 10px 30px;

    background: rgba(0, 0, 0, 0.2);

    cursor: pointer;

    font-size: 16px;
    color: #fff;
    font-weight: 700;

    border: 0;
    border-radius: 5px;

    transition: background .2s linear;
}

.pricing__button:hover {
    background: rgba(0, 0, 0, 0.4)
}

/* FOOTER */

.footer {
    background: #494d55 url(../img/review/map.png) center no-repeat;
}

.footer__inner {
    padding: 90px 0;
    text-align: center;
}

.footer__title {
    margin-bottom: 30px;

    font-size: 36px;
    color: #fff;
    font-weight: 300;
}

.footer__text {
    max-width: 600px;
    margin: 0 auto 60px;

    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    font-weight: 300;
}

.footer__btn {
    padding: 10px 30px;

    border: 0;
    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;
    color: #fff;
    font-weight: 700;

    background-color: #40babd;

    transition: background-color .2s linear;
}

.footer__btn:hover {
    background-color: #38a9ab;
}

/* COPYRIGH */

.copyrigh {
    background: #26282c;
}

.copyrigh__text {
    padding: 15px;

    text-align: center;
}

.copyrigh__p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;

}

.copyright__icon {
    color: #e84545;
}

.copyrigh__span {
    color: #40babd;
}

/* 1130px */

@media (max-width: 1130px) {

    /* INTRO */

    .intro__img {
        top: 130px;
    }

    .intro__imgs {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    /* CONTAINER */

    .container.section {
        padding: 40px 0 0;
    }

    /* ABOUT */

    .about__icon {
        margin-bottom: 50px;
    }

}

/* 990px */

@media (max-width: 990px) {

    /* INTRO */

    .intro__item {
        max-width: 300px;
    }

    /* ABOUT */

    .about__text {
        margin-bottom: 40px;
    }

    .about__suptext {
        margin-bottom: 40px;
    }

    /* CONTAINER */

    .container.section--grey {
        padding: 30px 0 0;
    }

    /* APPKIT */

    .appkit__inner {
        margin-bottom: 45px;
    }

    /* REVIEW */

    .review__inner:last-child {
        padding-bottom: 30px;
    }

    /* FEATURES */

    .features__inner {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    .features__item.icon {
        margin: 0 auto;
        padding: 0 10px;
        width: 300px;
        text-align: start;
    }

    .features__icon {
        margin: 0 0 20px 0;
    }

    /* TEAM */

    .team__inner {
        padding-bottom: 30px;
    }

    .team__item {
        width: 100%;
        max-width: 600px;
        margin: 0 0 30px;
    }

    .team__item:last-child {
        margin: 0;
    }

    /* PRICING */

    .pricing__inner {
        padding-bottom: 20px;
    }

    .pricing__item {
        width: 300px;
        margin: 0 15px 30px;
    }

    .pricing__item:last-child {
        margin: 0 15px 10px;
    }

}

/* 770px */

@media (max-width: 770px) {

    /* INTRO */

    .intro__item {
        max-width: 100%;
    }

    .intro__img {
        left: 0;
        top: 246px;
    }

    .intro__imgs {
        max-width: 250px;
    }

    /* NAV */

    .nav {
        display: none;
        flex-direction: column;
        width: 100%;

        background-color: #494d55;
        text-align: right;

        position: absolute;
        top: 100%;
        right: 0;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        margin: 0;
        padding: 5px 30px 5px 0;
    }

    /* BURGER */

    .burger {
        display: block;
    }

    /* CONTAINER */

    .container.section {
        padding: 30px 0 0;
    }

    /* ABOUT */

    .about__img {
        padding-bottom: 30px;
    }

    .about__icon {
        margin-bottom: 30px;
    }

    /* APPKIT */

    .appkit__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .appkit__item:last-child {
        margin-bottom: 0;
    }

    .appkit__img {
        max-width: 150px;
        min-height: 150px;
    }

    /* FOOTER */

    .footer__inner {
        padding: 20px 0 30px;
    }

    /* REVIEW */

    .review__title {
        margin-bottom: 30px;
    }

}

/* 520px */

@media (max-width: 520px) {

    /* INTRO */

    .intro__title {
        font-size: 25px;
    }

    .intro__suptitle {
        font-size: 15px;
    }

}

@media (max-width: 350px) {

    /* INTRO */

    .intro__img {
        top: 285px;
    }

    .intro__imgs {
        max-width: 200px;
    }

}